*{
  margin: 0;
  padding: 0;
  }
  html,
  body{
    overflow:hidden;
  }
  
  .container{
    background-image: linear-gradient( rgb(182, 181, 181) , white);
    height: 100dvh;
    display: flex;
    flex-direction: row;
  }
  
  
  .leftcontainer{
    display: flex;
    flex: 1;
    align-items:center;
    justify-content: center;
    flex-direction: column;
  }
  
  .leftcontainer img{
    height:30%;
    width:30%;
    border-radius: 12px;
  
  }
  .leftcontainer p{
    margin-bottom:20px;
      font-size:24px;
    font-wieght: bold;
  }
  .rightcontainer{
    display: flex;
    flex: 1;
    align-items:center;
    justify-content: center;


  }
  
  .Header{
    display: flex;
    flex-direction: row;
    height: 6%;
    width: 100%;
    padding: 6px;
    align-items: center;
    top: 0;
    border-bottom: 1.5px solid gray;
  }
  
  .Header img{
    height: 3.5%;
    width: 3.5%;
    margin-right: 12px;
  }
  
  .formcard{
    background-color: white;
    width: 40%;
    height: 40%;
    border-radius: 12px;
    box-shadow: 7px 7px 24px 0px black;
    padding: 8px;
    
  }
  .formcard div{
    display: flex;
    flex-direction: column;
    margin-bottom:18px;
  }
  .formcard input{
    margin-top:10px;
    width:90%;
    height:24px;
    padding-left:10px;
    border-radius: 12px;
    border: 1px solid black;
  }

.formcard label{
  margin-bottom: 4px;
  font-size: 16px;
  font-weight: 900;
}

.formcard button{
  height: 40px;
  border-radius: 14px;
  border: none;
  background-color: black;
  color: white;
}

.formcard button:hover {
  background-color: rgb(120, 19, 71);
  font-size: 18px;
}